@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@theme {
  --font-sans: "Outfit Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --grid-template-columns-custom: repeat(4, minmax(0, 1fr));
  --grid-template-rows-custom: repeat(2, minmax(0, 1fr));
}
