<div class="navbar bg-base-100">
    <div class="flex-1">
        <ul class="menu menu-horizontal px-1">
            <li><a href="https://github.com/healyjames">GitHub</a></li>
            <li>
                <details>
                    <summary>Menu</summary>
                    <ul class="bg-base-100 rounded-t-none p-2">
                        <li><a href="#about-me">About Me</a></li>
                        <li><a href="#work-experience">Work Experience</a></li>
                        <li><a href="#personal-projects">Personal Projects</a></li>
                        <li><a href="#qualifications">Qualifications</a></li>
                        <li><a href="#contributions">Contributions</a></li>
                    </ul>
                </details>
            </li>
        </ul>
    </div>
    <div class="flex-none">
        <a class="btn btn-ghost text-xl">Logo</a>
    </div>
</div>