---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import DesktopNavigation from '../components/navigation/DesktopNavigation.astro'
import MobileNavigation from '../components/navigation/MobileNavigation.astro'
import Header from '../components/Header.astro'
import Content from '../components/Content.astro'
import Timeline from '../components/timeline/Timeline.astro'
import TimelineItem from '../components/timeline/TimelineItem.astro'
---

<Layout title="Hey, I'm James!">

	<!-- Navigation -->
	<div class="block lg:hidden">
		<MobileNavigation />
	</div>
	<div class="hidden lg:block">
		<DesktopNavigation />
	</div>

	<!-- Content -->
	<main class='prose max-w-screen-lg my-10 mx-auto'>

		<!-- Header / Intro Text -->
		<Header
			title="Software Engineer"
			subtitle="Hey, I'm James. Full stack developer currently working on e-commerce solutions in the retail industry."
		/>

		<!-- About Me -->
		<Content id="about-me">
			<h3>About Me</h3>
			<p>The past three years have seen me grow massively as a software engineer. I challenged myself to transition from a front-end developer to a full stack engineer, gaining great knowledge and experience in technologies from React and NextJS all the way down to GitHub CI/CD and Kubernetes.</p>
			<p>My aim is, and has always been, to become a the best engineer and team member that I possibly can who constantly demonstrates core values throughout their work. Those values being: ambition, innovation, collaboration and leadership. I pride myself on my approachable and friendly personality, and constantly look to push myself both in my work and personal life.</p>
		</Content>

		<!-- Work History -->
		<Timeline>
			<TimelineItem
				role="Software Engineer"
				time="2021 - present"
				company="THG"
				location="Manchester, UK"
			>
				<p>My time at THG has seen me move through three different teams thanks to an eagerness to learn and desire to broaden my skills set. I moved from more front-end oriented work to more devOps and back-end teams.</p>
				<p>My first role was to support and develop the on-boarding of clients (such as White Stuff, Heinz, Lyle & Scott and David Gandy) to our e-commerce platform. Building a new site would involve working with Sass, Java, JSPs and Javascript. Work ranged from fairly simple tasks like styling the site to match UX wire-frames to building/customising widgets, SEO improvements and more.</p>
				<p>From here, I moved on to the site implementation team where I began to work on complex third party software integration such as Power Reviews and Obsess VR until I moved to a squad whose focus was purely on Homebase. A massive project I was part of was migrating the Homebase site to a new e-commerce platform which is where I began to start working heavily with React, NextJS, Apollo and GraphQL.</p>
				<p>I currently work in the site automation team. I was brought in to help on another big project which was migrating the teams applications away from dedicated virtual machines and an older kubernetes platform on to the new in-house kubernetes solution. Here, I was able to configure new Kubernetes GitHub ARC runners for the team, create GitHub CI/CD workflow deployment and rollback pipelines as well as complete general work on back end Java and Python applications owned by this team.</p>
			</TimelineItem>

			<TimelineItem
				role="Design &amp; Marketing Apprentice"
				time="2015 - 2021"
				company="The Travel Visa Company"
				location="Crewe, UK"
			>
				<p>Day-to-day, my role would include designing and maintaining multiple Wordpress websites, producing branded point of sale material and managing an internal CRM system.</p>
				<p>A notable project from my time here was building a PDF visa application pack generator with a dashboard style user interface which allowed staff to enter details about visa requirements that would then be generated into a PDF upon request to the webapp.</p>
				<p>Most of my time here was spent as a graphic designer which I was then able to translate into simple UI components - I redesigned a visa requirement widget interface by looking at popular UI trends within the travel industry and combining them with prominent web design principles (Gestalt) while keeping within the companies brand guidelines. This boosted user engagement and improved our websites overall usability.</p>
			</TimelineItem>

			<TimelineItem
				role="Kitchen Assistant"
				time="2014 - 2015"
				company="Gees Kitchen"
				location="Sandbach, UK"
			>
				<p>Pot washing, general prep work and kitchen hygiene.</p>
			</TimelineItem>
		</Timeline>

		<!-- Personal Projects -->
		<Content id="personal-projects">
			<h3>Personal Projects</h3>
			<Card
				title="Quickcarsearch.io"
				buttonText="View project on GitHub"
				href="https://github.com/healyjames/quickcarsearch-next"
				imageUrl="/images/quickcarsearch.jpg"
				imageAltText="Laptop screen showing quickcarsearch.io homepage"
			>
				<p>NextJS and Styled Components web application for finding the cheapest car based on your budget. I created with the aim of being extremely performant, user friendly, SEO friendly and accessible - the site achieved <a href="/images/quickcarsearch-lighthouse.jpg">a score of 100 for every lighthouse metric</a>.  Dockerised and deployed using AWS Amplify.</p>
			</Card>
			
			<Card
				title="THG Status"
				imageUrl="/images/thg-status.jpg"
				imageAltText="Laptop screen showing internal tooling dashboard tracking health of applications"
				reverse={true}
			>
				<p>Internal healthcheck tool using a NextJS 13 &amp; Tailwind UI, ExpressJS API and MSSQL database. A CRON GitHub pipeline ran every 3 minutes to fetch http status codes which the API would serve as JSON. The UIs job was purely to display the data and allow users to keep track of endpoints that were important to them. The API did a lot of the heavy lifting e.g. interacting with the database and generating the json data for the UI to consume.</p>
			</Card>
		</Content>


	</main>
</Layout>