---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import DesktopNavigation from '../components/navigation/DesktopNavigation.astro'
import MobileNavigation from '../components/navigation/MobileNavigation.astro'
import Header from '../components/Header.astro'
---

<Layout title="Hey, I'm James!">

	<!-- Navigation -->
	<div class="block lg:hidden">
		<MobileNavigation />
	</div>
	<div class="hidden lg:block">
		<DesktopNavigation />
	</div>

	<!-- Content -->
	<main class='prose max-w-screen-lg my-10 mx-auto'>

		<!-- Header / Intro Text -->
		<Header
			title="Software Engineer"
			subtitle="Hey, I'm James. Full stack developer currently working on e-commerce solutions in the retail industry."
		/>

	</main>
</Layout>
