---
import Content from "./Content.astro"

interface Props {
	title: string
	subtitle: string
}

const { title, subtitle } = Astro.props
---

<header>
    <Content>
        <h1 class="font-bold">{title}</h1>
        <h3 class="font-normal">{subtitle}</h3>
    </Content>
</header>